@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.spinner {
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }

}

.toast {
    animation-name: slideinleft;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes slideinleft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}


/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


.active {
    color: rgb(227, 227, 16);
}

.inactive {
    color: black;
}